// Variables
$web-header-background-color: $color-primary;
$web-header-text-color: white;

.web-header {
    background: $web-header-background-color;
    .web-title {
        color: $web-header-text-color;
        text-align: center;
    }
}